@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    color: rgb(34, 1, 1);
    font-size: large;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    background-color:rgb(152, 153, 144);
    min-width: 320px;
    max-widht: 800px;
    margin: auto;
}
header{
    background-image: linear-gradient (to bottom, );
    margin-top: 15px;
    padding-top: 20px;
    text-align: center;
    text-shadow: 3px 0px rgb(12, 92, 1);
}
header > h1{
    color: rgb(0, 0, 0);
}
 nav{
    color: black; 
    background-color: bisque;
    font-family: Impact;
    margin-bottom: 15px;
    padding-top: 33px;
    text-align: center;
    box-shadow: 3px 3px gray;
}
nav > a{
    padding: 10px;
    border-radius: 5px;
    transition-duration: 1s;
}
main{
    border-radius: 10px;
    background-color: bisque;
    padding: 20px;
    margin-bottom: 35px;
}
main p{
    margin: 15px 20px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-indent: 30px;
    font-size: 25px;
    line-height: 2em;
}
.subir{
    text-align: right;
    display: block;
}
main h2{
    color: rgb(12, 26, 2);
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear gradient (to right, green, transparent);
}
main > a{
    text-align:right;
}
img{
    margin: auto;
    display: block;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    list-style: square;
}
form{
    line-height: 1em;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight:bold;
}
h1,h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color:rgb(0, 2, 5);
    text-align: center;
}
footer{
    background-color: chocolate;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 3px 0px white;
    font-weight: bold;
    box-shadow: 3px 3px gray;
}
label{
    vertical-align: top;
}